@import "@repo/tailwind-config";

/* Font configurations */
@layer base {
  :root {
    --font-sans: "Oxanium", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: "Merriweather", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  
  body {
    font-family: var(--font-sans);
    font-feature-settings: "rlig" 1, "calt" 1;
    font-weight: 400;
  }
  
  .font-sans {
    font-family: var(--font-sans);
  }
  
  .font-serif {
    font-family: var(--font-serif);
  }
  
  .font-mono {
    font-family: var(--font-mono);
  }
}
